.external_links_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width:90vw;
  height:85vh;
}

.external_links_table {
  position: relative;
  width:80vw;
}

.external_links_table thead tr:nth-child(1) {
  height: 5vh;
  background-color: #768395;
  color:#ffffff;
}

.external_links_table td,
.external_links_table tr{
  border: 1px solid black;
  text-align: center;
}

.href_btn {
  width: 200px;
  height: 30px;
  background-color: white;
}
.href_btn a {
  text-decoration: none;
  color: inherit;
}